.grid-header {
  display: grid;
}

.grid-header > .title {
  box-sizing: border-box;
  display: flex;
  height: 40px;
  width: 40px;
}

@media (max-width: 644px) {
  .grid-header > .title {
    height: 32px;
    width: 32px;
  }
}
