.hsl-sliders {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.color-preview {
  border-radius: 4px;
  box-sizing: border-box;
  height: 60px;
  width: 60px;
}

.sliders {
  display: flex;
  flex-direction: column;
}

.slider-container {
  display: flex;
  flex-direction: row;
  gap: 4px;
  width: 168px;
}

.slider-container > .label {
  text-align: right;
  width: 32px;
}

.slider-container > .slider {
  width: 132px;
}
