.contrast-preview {
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  min-height: 200px;
  max-height: 200px;
  overflow-y: scroll;
  position: relative;
}

.contrast-preview .title {
  box-sizing: border-box;
  margin: 0;
  padding: 4px;
  position: sticky;
  top: 0;
  width: 100%;
}

.color-example {
  margin: 2px 0;
}

@media (max-width: 1280px) {
  .themes {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .contrast-preview {
    flex-grow: 1;
  }
}

@media (max-width: 644px) {
  .themes {
    display: block;
  }
}
