#root {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  padding: 12px;
  text-align: center;
}

.App {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.palette-grids {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.palette-grids .palette-grid-column {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.palette-grids .derived-column-header {
  display: none;
}

.App .palette {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.App .right-panel {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (max-width: 1280px) {
  .App {
    flex-direction: column;
    gap: 24px;
    padding: 24px 0;
  }

  .App .right-panel {
    width: 100%;
  }
}

@media (max-width: 644px) {
  .palette-grids {
    flex-direction: column;
  }

  .palette-grids .derived-column-header {
    display: block;
  }
}
