#root {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  padding: 12px;
  text-align: center;
}

.App {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.App .right-panel {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (max-width: 1280px) {
  .App {
    flex-direction: column;
    gap: 24px;
    padding: 24px 0;
  }

  .App .right-panel {
    width: 100%;
  }
}
